* {
  margin: 0;
  padding: 0;
}

.cut-top-left {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
  top: 0;
  left: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-top-right {
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 0% 0%, 0% 0%);
  top: 0;
  right: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-bottom-left {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  bottom: 0;
  left: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-bottom-right {
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 0%);
  bottom: 0;
  right: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.yellow-next-button {
  display: flex;
  background-color: #e2b41a;
  color: white;
  /* width: 282px; */
  width: 40%;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  height: min-content;
  justify-content: space-between;
  padding: 16px;
  /* align-self: center; */
}

.white-next-button {
  display: flex;
  background-color: white;
  color: #41c7df;
  width: 282px;
  height: min-content;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
  padding: 16px;
  align-self: center;
}

.blue-next-button {
  display: flex;
  background-color: #41c7df;
  color: white;
  width: 282px;
  height: min-content;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
  padding: 16px;
  align-self: center;
}

.read-more {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: max-content;
  align-items: center;
}

.read-more > span {
  color: #41c7df;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 600;
  font-family: "Switzer";
}

.circular-plus {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: #0b1621 solid 1.2px;
}

.circular-plus.expanded {
  border: #597294 solid 1.2px;
}

.circular-plus > .plus {
  position: relative;
  width: 8px;
  height: 8px;
}

.circular-plus > .plus::before,
.circular-plus > .plus::after {
  content: "";
  position: absolute;
  background-color: #0b1621; /* Color of the + sign */
}

.circular-plus.expanded > .plus::before,
.circular-plus.expanded > .plus::after {
  background-color: #597294; /* Color of the + sign */
}

.circular-plus > .plus::before {
  width: 8px;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.circular-plus > .plus::after {
  width: 2px;
  height: 8px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
}

.circular-plus.expanded .plus::after {
  transform: translateX(-50%) rotate(90deg);
  transition: transform 0.3s ease;
}


.main {
    background: url("../res/image/home_master.png") no-repeat center center;
    background-size: cover;
  }
  
  .header {
    padding: 120px;
    padding-top: 32px;
    padding-bottom: 50px;
    background: linear-gradient(to right, #0b1621b2 100%, transparent 30%);
  }
  
  .header > div {
    display: flex;
    justify-content: space-between;
  }
  
  .header-data {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 24px;
    align-items: center;
  }
  
  .button_hollow {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 96px;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  
  .hamburger > div {
    width: 40px;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .hamburger.activate > div:nth-child(1) {
    transform: rotate(45deg) translateY(10px); /* Rotate first line */
  }
  
  .hamburger.activate > div:nth-child(2) {
    transform: rotate(-45deg) translateY(-10px); /* Rotate second line */
  }
  
  .menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin-top: 56px;
    color: #ffffff;
  }
  
  .menu > a > li {
    display: flex;
    align-items: center;
    width: 208px;
    justify-content: space-between;
    padding-top: 12px;
    color: white;
    border-top: 1.6px solid rgba(255, 255, 255, 0.4);
  }
  
  /* .menu span {
  } */
  
  .menu div {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .main-body {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 59px;
    padding-bottom: 240px;
    margin-left: 120px;
    color: white;
  }
  
  .main-body > div > h1 {
    font-size: 70px;
    line-height: 98px;
    font-weight: 400;
    font-family: "Glaukon";
  }
  
  .main-body > div > span {
    display: block;
    width: 373px;
    font-family: "GoogleSans";
    font-size: 16px;
    line-height: 25.6px;
    margin-top: 16px;
  }
  
  .social-media {
    right: 120px;
    position: absolute;
    height: 0px;
    width: 79px;
    background-color: white;
    transform: translateY(10px);
    transition: height 0.3s ease;
  }
  
  .social-media.activate {
    height: 360px;
    transition: height 0.3s ease;
  }
  
  .social-media > ul {
    padding: 31px 25px 28px 31px;
    list-style: none;
  }
  
  .social-media-links {
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    width: 79px;
    margin-top: 30px;
  }
  
  .social-media-links > ul {
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style: none;
  }
  
  .social-media-links > ul > li {
    display: flex;
    justify-content: center;
  }
  
  .social-media-links.activate {
    opacity: 1;
    transition: opacity 0.3s ease;
    display: flex;
  }
  
  .change-language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .hover-icon:hover path {
    fill: #e2b41a;
  }