@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Graphik";
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* -------------------------------- UTILS -------------------------------- */
.cut-top-left {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
  top: 0;
  left: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-top-right {
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 0% 0%, 0% 0%);
  top: 0;
  right: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-bottom-left {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  bottom: 0;
  left: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-bottom-right {
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 0%);
  bottom: 0;
  right: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.yellow-next-button {
  display: flex;
  background-color: #e2b41a;
  color: white;
  width: 282px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  height: min-content;
  justify-content: space-between;
  padding: 16px;
  /* align-self: center; */
}

.blue-next-button {
  display: flex;
  background-color: #41c7df;
  color: white;
  width: 282px;
  height: min-content;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
  padding: 16px;
  /* align-self: center; */
}

.white-next-button {
  display: flex;
  background-color: white;
  color: #41c7df;
  width: 282px;
  height: min-content;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
  padding: 16px;
  /* align-self: center; */
}

.read-more {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: max-content;
  align-items: center;
}

.read-more > span {
  color: #41c7df;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 600;
  font-family: "Switzer";
}

/* -------------------------------- UTILS END -------------------------------- */

/* ----------------------------- MAIN ------------------------------------- */

.main {
  background: url("../res/image/about_us_master.png") no-repeat center center;
  background-size: cover;
}

.header {
  padding: 120px;
  padding-top: 32px;
  padding-bottom: 50px;
  background-color: #0b1621f2;
}

.header > div {
  display: flex;
  justify-content: space-between;
}

.header-data {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 24px;
  align-items: center;
}

.button_hollow {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 96px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.hamburger > div {
  width: 40px;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}

.hamburger.activate > div:nth-child(1) {
  transform: rotate(45deg) translateY(10px); /* Rotate first line */
}

.hamburger.activate > div:nth-child(2) {
  transform: rotate(-45deg) translateY(-10px); /* Rotate second line */
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  margin-top: 56px;
  color: #ffffff;
}

.menu > a > li {
  display: flex;
  align-items: center;
  width: 208px;
  justify-content: space-between;
  padding-top: 12px;
  color: white;
  border-top: 1.6px solid rgba(255, 255, 255, 0.4);
}

.menu > a > li.selected {
  border-top: 1.6px solid #e2b41a;
  color: #e2b41a;
}

/* .menu span {
    } */

.menu div {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.main-body {
  padding-bottom: 210px;
}

.main-body > div {
  padding-top: 106px;
  padding-bottom: 78px;
  padding-left: 120px;
  padding-right: 65px;
  color: white;
  background-color: rgba(81, 85, 101, 0.7);
  width: min-content;
}

.main-body > div > h1 {
  font-size: 70px;
  line-height: 98px;
  font-weight: 400;
  font-family: "Glaukon";
  color: #e2b41a;
}

.main-body > div > span {
  display: block;
  width: 500px;
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 25.6px;
  margin-top: 16px;
}

.location-strip {
  padding: 16px 120px;
  background-color: #0b1621;
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-strip > .initial {
  color: white;
  font-size: 14px;
  line-height: 16.8px;
}

.location-strip > .destination {
  color: #e2b41a;
  font-size: 14px;
  line-height: 16.8px;
}

.social-media {
  right: 120px;
  position: absolute;
  height: 0px;
  width: 79px;
  background-color: white;
  transform: translateY(10px);
  transition: height 0.3s ease;
}

.social-media.activate {
  height: 360px;
  transition: height 0.3s ease;
}

.social-media > ul {
  padding: 31px 25px 28px 31px;
  list-style: none;
}

.social-media-links {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  width: 79px;
  margin-top: 30px;
}

.social-media-links > ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
}

.social-media-links > ul > li {
  display: flex;
  justify-content: center;
}

.social-media-links.activate {
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
}

.change-language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.hover-icon:hover path {
  fill: #e2b41a;
}

@media only screen and (max-width: 1024px) {
  .header {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .location-strip {
    padding-left: 60px;
  }

  .main-body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .main-body > div > h1 {
    text-align: center;
    font-size: 70px;
  }

  .main-body > div > span {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 1.125rem;
  }

  .main-body > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    background-color: transparent;
  }

  .main-body > div > .yellow-next-button {
    align-self: center;
  }

  .menu {
    display: none;
  }

  .header-data > :not(.hamburger) {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 30px 60px;
  }

  .header > div > a > img {
    width: 70%;
  }

  .main-body > div > h1 {
    line-height: 3.5rem;
    margin-bottom: 20px;
  }

  .main-body > div > span {
    width: 100%;
  }

  .main-body > div {
    width: 100%;
  }

  .location-strip {
    padding-left: 20px;
  }

  /* .main-body {
    padding: 0;
  } */
}

/* ---------------------- MAIN END ------------------------- */

/* ----------------------- STORY DIV ------------------------------- */

.story-div {
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 120px;
  padding-right: 120px;
  background: url("../res/svg/logo/logo_background_white.svg") no-repeat center
    center;
  background-size: cover;
  background-color: #f0f1f5;
  text-align: justify;
}

.story-div > span {
  font-size: 22px;
  font-weight: 500;
  color: #071033;
}

.story-div > div {
  margin-top: 108px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}

.story-div > div > div > h1 {
  font-family: "Glaukon";
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 22px;
  color: #071033;
}

.story-div > div > div > span {
  font-family: "GoogleSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  text-align: justify;
  width: 100%;
  color: #071033;
}

.mt-95 {
  margin-top: 95px;
}

.story-image {
  width: 90%;
  height: 425px;
  background: url("../res/image/about_us_story.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .story-div {
    padding-left: 60px;
    padding-right: 60px;
  }

  .story-div .yellow-next-button {
    width: 50%;
  }
}

@media only screen and (max-width: 790px) {
  .story-div .yellow-next-button {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .story-div > div {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .story-div {
    background: none;
    background-color: #f0f1f5;
    padding: 60px 20px;
  }

  .story-div > div > div > h1 {
    text-align: left;
  }

  .story-image {
    width: 100%;
  }

  .yellow-next-button {
    margin-top: 60px;
  }
}

/* ----------------------- STORY DIV END ------------------------------- */

/* ----------------------- VIDEO DIV ------------------------ */

.video-div {
  display: flex;
  position: relative;
  overflow: hidden;
}

.video-div > video {
  width: 100%;
}

.player-control {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 16px;
  padding: 48px 120px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: 1;
}

.player-control.paused {
  background-color: transparent;
  transition: all 0s ease;
}

.video-div:hover .player-control {
  transform: translateY(0%);
  transition: all 0.3s ease;
}

.play-pause-button {
  border-radius: 50%;
  border: 1.6px solid white;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-pause-button > img {
  height: 8px;
  width: 8px;
}

.video-time {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  border-radius: 8px;
}

.video-progress {
  position: absolute;
  width: 20%;
  height: 4px;
  background-color: #41c7df;
  border-radius: 8px;
  transform: translateY(-1px);
}

.video-pause-layout {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.video-pause-layout.activate {
  display: flex;
}

.play-text-btn {
  background-color: #5c4f4f;
  border-radius: 50%;
  color: white;
  height: 124px;
  width: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}

@media only screen and (max-width: 1024px) {
  .player-control {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media only screen and (max-width: 790px) {
}
@media only screen and (max-width: 550px) {
  .player-control {
    padding: 20px 20px;
    gap: 20px;
  }

  .play-text-btn {
    font-size: 8px;
    height: 68px;
    width: 68px;
  }
}

/* ----------------------- VIDEO DIV END ------------------------ */

/* -------------------------------- leadershipS --------------------------------- */
.leaderships-div {
  padding: 96px 120px 120px 120px;
  background-color: #c9d1dc;
}

.leaderships-div > .divider {
  background-color: #606c99;
  height: 1.6px;
  margin-bottom: 28px;
}

.leaderships-div > span {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
}

.leaderships-header {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.leaderships-header > h1 {
  font-family: "Glaukon";
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  width: 580px;
}

.leaderships-data {
  display: flex;
}

.leaderships-image {
  background-size: cover;
  min-width: 426px;
}
.leaderships-image-1 {
  background: url("../res/image/about_us_leadership_1.png") no-repeat center
    center;
}
.leaderships-image-2 {
  background: url("../res/image/about_us_leadership_2.png") no-repeat center
    center;
}
.leaderships-image-3 {
  background: url("../res/image/about_us_leadership_3.png") no-repeat center
    center;
}
.leaderships-image-4 {
  background: url("../res/image/about_us_leadership_4.png") no-repeat center
    center;
}

.leaderships {
  background-color: white;
  padding: 120px 80px 80px 80px;
}

.leadership-datas-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  transition: transform 0.5s ease;
}

.leadership-wrapper {
  display: flex;
  margin-top: 160px;
  overflow-y: hidden;
  height: 555px;
}

.leaderships-author {
  font-size: 14px;
  color: #505a80;
}

.leaderships-type {
  font-family: "Switzer";
  font-weight: 700;
  font-size: 14px;
  color: #505a80;
}

.leadership-header {
  font-size: 28px;
  line-height: 28px;
  color: #071033;
  margin-top: 8px;
  font-weight: 400;
}

.leaderships-image {
  position: relative;
}

.leadership-content {
  font-size: 16px;
  font-family: "GoogleSans";
  text-align: justify;
  line-height: 25.6px;
  color: #505a80;
  margin-top: 32px;
  font-weight: 400;
  height: 182px;
}

.leadership-controllers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.leadership-arrows > div {
  display: flex;
  align-items: center;
  padding: 32px 45px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.leadership-arrows > div.disabled {
  background-color: #eff0f5;
  transition: background-color 0.3s ease;
}

.leadership-arrows > div.disabled > svg > path {
  stroke: white;
  transition: stroke 0.3s ease;
}

.leadership-positions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.leadership-positions > div {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background-color: white;
}

.leadership-positions > div {
  opacity: 0.4;
}

.leadership-positions > div.active {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .leaderships-div {
    display: none;
  }
}
@media only screen and (max-width: 790px) {
}
@media only screen and (max-width: 480px) {
}

/* -------------------------------- leadershipS END --------------------------------- */

.vision-div {
  padding-top: 96px;
  padding-bottom: 107px;
  background-color: rgba(89, 114, 148, 0.32);
}

.vision-div > .divider {
  height: 0.8px;
  background-color: #606c99;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 28px;
}

.vision-div > p {
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 28px;
  font-family: "Switzer";
  font-weight: 700;
  font-size: 22px;
  color: #071033;
  margin-bottom: 80px;
}

.vision-datas {
  display: flex;
  flex-direction: column;
}

.vision-datas > p {
  margin-top: 130px;
  margin-bottom: 80px;
  margin-left: 120px;
  margin-right: 120px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  color: #071033;
}

.vision-datas-right {
  text-align: right;
}

.vision-single-data {
  position: relative;
  height: 910px;
}

.vision-single-data.vision-left {
}

.vision-single-data > .vision-image {
  position: absolute;
  height: 910px;
  width: 810px;
}

.vision-single-data.vision-right > .vision-image {
  right: 0;
}

.vision-single-data.vision-left > .vision-content {
  bottom: 100px;
  width: 723px;
  right: 120px;
}

.vision-single-data.vision-right > .vision-content {
  bottom: 100px;
  width: 723px;
  left: 120px;
}

.vision-content {
  gap: 27px;
  position: absolute;
  background-color: #0b1621;
  padding: 70px 75px 66px 75px;
  color: white;
}

.vision-content > h1 {
  font-family: "Glaukon";
  font-size: 40px;
  line-height: 40px;
  height: 77px;
}
.vision-content > p {
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 25.6px;
  text-align: justify;
  height: 234px;
}

.vision-image-1 {
  position: relative;
  background: url("../res/image/about_us_vision_1.png") no-repeat center center;
}

.vision-image-2 {
  position: relative;
  background: url("../res/image/about_us_vision_2.png") no-repeat center center;
}

.vision-image-3 {
  position: relative;
  background: url("../res/image/about_us_vision_3.png") no-repeat center center;
}

@media only screen and (max-width: 1024px) {
  .vision-single-data.vision-left > .vision-content {
    right: 60px;
  }

  .vision-single-data.vision-right > .vision-content {
    left: 60px;
  }

  .vision-div > .divider {
    margin-left: 60px;
    margin-right: 60px;
  }

  .vision-datas > p {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 850px) {
  .vision-single-data > .vision-image {
    width: 100%;
  }
  .vision-single-data.vision-left > .vision-content,
  .vision-single-data.vision-right > .vision-content {
    left: 0px;
    bottom: 0px;
    right: 0;
  }

  .vision-content > p {
    height: 170px;
  }

  .vision-single-data.vision-right > .vision-content,
  .vision-single-data.vision-left > .vision-content {
    width: auto;
  }

  .vision-content {
    background-color: rgba(11, 22, 33, 0.8);
  }

  .vision-datas > p {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .vision-div > .divider {
    margin-left: 20px;
    margin-right: 20px;
  }
  .vision-datas > p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .vision-content > p {
    height: auto;
  }

  .vision-single-data.vision-left > .vision-content,
  .vision-single-data.vision-right > .vision-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    top: 0;
  }
}

/* ----------------------- VIISION DIV END ------------------------------- */

/* ------------------------ HISTORY DIV ------------------------------ */
.history-div {
  background-color: #a9d5dd;
  padding: 67px 120px 110px 120px;
  padding-right: 0px;
}

.history-div > .divider {
  background-color: #606c99;
  height: 1.6px;
  margin-bottom: 28px;
  margin-right: 120px;
}

.history-div > span {
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  color: #071033;
}

.history-corousal {
  margin-top: 60px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: 0;
}

.history-corousal::-webkit-scrollbar {
  display: none;
}

.history-single-corousal-item {
}

.history-corousal-upper,
.history-corousal-lower {
  margin-right: 40px;
  width: 580px;
}

.history-image {
  height: 670px;
  position: relative;
}

.history-description {
  margin-top: 92px;
  font-family: "GoogleSans";
  font-size: 18px;
  line-height: 28.8px;
  text-align: justify;
}

.history-divider {
  height: 30px;
  border-left: 1px solid #606c99;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.history-divider > div {
  height: 0.8px;
  width: 100%;
  background-color: #606c99;
}

.history-year {
  margin-top: 80px;
  color: #505a80;
  font-size: 16px;
  line-height: 22.4px;
}

.history-heading {
  margin-top: 8px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
}

.history-image-1 {
  background: url("../res/image/about_us_history_1.png") no-repeat center center;
  background-size: cover;
}

.history-image-2 {
  background: url("../res/image/about_us_history_1.png") no-repeat center center;
  background-size: cover;
}

.history-image-3 {
  background: url("../res/image/about_us_history_1.png") no-repeat center center;
  background-size: cover;
}

.history-image-4 {
  background: url("../res/image/about_us_history_1.png") no-repeat center center;
  background-size: cover;
}

.history-image-5 {
  background: url("../res/image/about_us_history_1.png") no-repeat center center;
  background-size: cover;
}

.history-image-6 {
  background: url("../res/image/about_us_history_1.png") no-repeat center center;
  background-size: cover;
}

.history-image-7 {
  background: url("../res/image/about_us_history_1.png") no-repeat center center;
  background-size: cover;
}

.history-status-bar {
  height: 5px;
  background-color: #41c7df;
  border-radius: 5px;
  width: 40%;
  margin-top: 50px;
}

.history-status-bar > div {
  height: 7px;
  width: 0%;
  background-color: #0040a9;
  border-radius: 5px;
  transform: translateY(-1px);
}

@media only screen and (max-width: 1024px) {
  .history-div {
    padding: 60px;
  }

  .history-div > .divider {
    margin-right: 0;
  }
}
@media only screen and (max-width: 790px) {
}
@media only screen and (max-width: 480px) {
  .history-div {
    padding-left: 20px;
    padding-right: 0px;
    width: calc(100% - 20px);
  }

  .history-div > .divider {
    margin-right: 20px;
  }

  .history-image {
    height: 30dvh;
    width: 100%;
  }

  .history-description {
    margin-top: 40px;
  }

  .history-status-bar {
    width: 60%;
  }

  .history-year {
    margin-top: 30px;
  }
}

/* ------------------------ HISTORY DIV END ------------------------------ */

/* ------------------------- ESG DIV ------------------------------- */
.esg-div {
  padding: 60px 120px 120px 40px;
  background-color: #e4f0ff;
}

.esg-div > span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 6%;
  color: #0b1621;
}

.esg-div > h1 {
  font-family: "Glaukon";
  font-size: 40px;
  line-height: 36px;
  font-weight: 400;
  color: #0b1621;
  margin-top: 40px;
}

.esg-div > p {
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: #0b1621;
  margin-top: 20px;
}

.esg-div > div {
  margin-top: 87px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.esg-image {
  height: 275px;
  width: 100%;
  position: relative;
}

.esg-image-1 {
  background: url("../res/image/about_us_esg_1.png") no-repeat center center;
  background-size: cover;
}

.esg-image-2 {
  background: url("../res/image/about_us_esg_2.png") no-repeat center center;
  background-size: cover;
}

.esg-image-3 {
  background: url("../res/image/about_us_esg_3.png") no-repeat center center;
  background-size: cover;
}

.esg-contents {
  padding: 35px;
}

.esg-contents > .esg-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #071033;
}

.esg-contents > .esg-description {
  margin-top: 10px;
  color: #0b1621;
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 26px;
}

.esg-contents > .esg-read-more {
  margin-top: 20px;
  color: #597294;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .esg-div {
    padding: 60px;
  }

  .esg-div > div {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .esg-contents {
    padding-left: 0;
  }
}
@media only screen and (max-width: 790px) {
}
@media only screen and (max-width: 480px) {
  .esg-div {
    padding: 60px 20px;
  }
  .esg-div > div {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------------- ESG DIV END ------------------------------- */

/* ---------------------- HOW IT WORKS DIV -------------------------- */
.how-it-works-div {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
  background-color: #e4f0ff;
  padding-bottom: 160px;
  overflow-x: hidden;
}

.how-it-work-image {
  background: url("../res/image/about_us_how_it_work.png") no-repeat center
    center;
  background-size: cover;
  width: 100%;
  position: relative;
}

.how-content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 35px;
  gap: 35px;
}

.how-it-work-data {
  padding: 100px 120px 100px 0;
}

.how-it-work-data > span {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 6%;
  color: #071033;
}

.how-it-work-data > h1 {
  font-family: "Quattrocento";
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #071033;
  margin-top: 20px;
}

.how-it-work-data > p {
  font-family: "Quattrocento Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: #6e6e6e;
  margin-top: 20px;
}

.how-content {
  padding: 35px;
  border: 1px solid #7171711a;
  transition: background-color 0.3s ease;
}

.how-content > .content-number {
  font-weight: 500;
  font-size: 20px;
  line-height: 47px;
  color: #7e7f83;
  transition: color 0.3s ease;
}

.how-content > .content-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #071033;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.how-content:hover > .content-number,
.how-content:hover > .content-heading {
  color: #e2b41a;
  transition: color 0.3s ease;
}

.how-content:hover {
  background-color: #0b1621;
  transition: background-color 0.3s ease;
}

.how-content > .content-description {
  margin-top: 7px;
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 24px;
  color: #6e6e6e;
}

@media only screen and (max-width: 1024px) {
  .how-it-works-div {
    grid-template-columns: 30% 70%;
    padding-bottom: 80px;
  }

  .how-it-work-data {
    padding-right: 60px;
  }

  .how-content {
    padding: 20px;
  }

  .how-it-work-data > p {
    width: 98%;
  }
}
@media only screen and (max-width: 790px) {
}
@media only screen and (max-width: 580px) {
  .how-it-work-image {
    display: none;
  }

  .how-it-works-div {
    grid-template-columns: 100%;
  }

  .how-it-work-data {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .how-content-container {
    gap: 20px;
  }
}

/* ---------------------- HOW IT WORKS DIV END -------------------------- */

/* ----------------------- CONTACT DIV ----------------------------------- */
.contact-div {
  background-color: #597294;
  padding: 55px 160px;
  gap: 110px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.contact-image {
  height: 600px;
  background: url("../res/image/expertise_contact.png") no-repeat center center;
  position: relative;
}

.contact-data {
  padding-top: 33px;
  color: white;
}

.contact-data > p {
  font-size: 20px;
  line-height: 24px;
}

.contact-data > h1 {
  font-family: "Glaukon";
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 200px;
}

@media only screen and (max-width: 1024px) {
  .contact-div {
    padding-left: 60px;
    padding-right: 60px;
    gap: 60px;
  }

  .contact-div .blue-next-button {
    width: 60%;
  }
}

@media only screen and (max-width: 850px) {
  .contact-div {
    gap: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .contact-div {
    display: flex;
    flex-direction: column;
  }

  .contact-data > h1 {
    margin-top: 20px;
  }

  .contact-div .blue-next-button {
    width: 70%;
  }

  .contact-image {
    height: 40vh;
  }
}

/* ----------------------- CONTACT DIV END ----------------------------------- */

/* -------------------------------- FOOTER ------------------------------- */
.footer {
  background-color: #0b1621;
  padding: 146px 120px 40px 120px;
  position: relative;
}

.footer-body {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 112px;
}

.footer-email {
  display: flex;
  gap: 32px;
  width: max-content;
  justify-content: center;
}

.footer-email > input {
  background-color: #0b1621;
  border: none;
  border-bottom: #0f6aff solid 1px;
  width: 400px;
  color: white;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  align-self: flex-end;
  padding-bottom: 24px;
}

input:focus {
  outline: none;
}

/* .footer-part-1 {
  display: flex;
  justify-content: space-between;
} */

.footer-part-1-upper {
  margin-bottom: 200px;
}

.footer-part-1-upper > p {
  font-weight: 300;
  font-size: 32px;
  line-height: 38.4px;
  text-align: justify;
  color: white;
  margin-right: 280px;
  margin-top: 86px;
}

.footer-part-1 > span {
  font-family: "GoogleSans";
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.4);
}

.footer-part-2 {
  color: white;
}

.footer-part-2-upper {
  position: relative;
  height: 100%;
}

.footer-part-2-upper > a > img {
  height: 40px;
  width: 40px;
  bottom: 0;
  position: absolute;
}

.footer-part-2-upper > ul {
  list-style: none;
}

.footer-part-2-upper > ul > li {
  font-family: "Inter", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 35.2px;
}

.footer-part-2-upper > ul > li > a {
  color: white;
}

.footer-part-2-upper > div {
  margin-top: 100px;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.footer-part-2-upper > div > p {
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer-part-2-upper > div > ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.mobile-footer {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    gap: 0;
  }

  .footer > img {
    width: 30%;
  }

  .footer-body {
    display: flex;
    flex-direction: column;
  }

  .footer-email {
    width: 100%;
  }

  .footer-email > input {
    width: 100%;
  }

  .footer-part-1-upper > p {
    width: 100%;
  }

  .footer-part-1-upper {
    margin-bottom: 60px;
  }

  .web-footer {
    display: none;
  }

  .mobile-footer {
    display: flex;
    justify-content: space-between;
  }

  .mobile-footer > div > div > .socials {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-top: 20px;
  }

  .mobile-footer > div > .terms {
    list-style: none;
    margin-bottom: 60px;
  }

  .mobile-footer > div > .terms > li {
    font-family: "Inter", "sans-serif";
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
  }

  .mobile-footer > div > .terms > li > a {
    color: white;
  }

  .mobile-footer > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-footer > div > div > p {
    font-family: "Inter", "sans-serif";
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    color: white;
  }
  .mobile-footer > div > span {
    font-family: "GoogleSans";
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4);
  }

  .web-copy {
    display: none;
  }
}

@media only screen and (max-width: 790px) {
}

@media only screen and (max-width: 480px) {
  .footer {
    padding: 40px 20px;
  }

  .footer > img {
    width: 60%;
  }

  .footer-email {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-part-1-upper > p {
    font-size: 18px;
    margin-right: 0;
  }

  .footer > .cut-top-left,
  .footer > .cut-bottom-right {
    display: none;
  }

  .footer .white-next-button {
    width: 70%;
  }

  .mobile-footer > div {
    align-items: end;
  }

  .mobile-footer > div > .terms > li > a {
    font-size: 18px;
  }

  .mobile-footer > div > div > p {
    font-size: 18px;
  }

  .mobile-footer > div {
    align-items: start;
  }
}
/* -------------------------------- FOOTER END ------------------------------- */

/* --------------------------------- DROP DOWN -------------------------------------- */
.drop-down {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 0;
}

.drop-down.active {
  opacity: 1;
  transition: opacity 0.3s ease;
  height: fit-content;
}

.expertise-drop-down {
  padding: 40px 120px;
  display: none;
  gap: 40px;
  opacity: 0;
  background-color: #515565;
  transition: opacity 0.3s ease;
}

.expertise-drop-down.active {
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
}

.expertise-drop-content > h1 {
  font-family: "Glaukon";
  font-size: 40px;
  line-height: 48px;
  color: #e2b41a;
  font-weight: 400;
}

.expertise-drop-content > p {
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 25.6px;
  text-align: justify;
  color: white;
  margin-top: 24px;
  width: 456px;
}

.expertise-drop-selection {
  padding: 28px;
  background-color: rgba(7, 16, 51, 0.4);
  width: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expertise-drop-selection > div {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.3s ease;
}

.expertise-drop-selection > div:hover {
  color: #e2b41a;
  transition: color 0.3s ease;
}

.expertise-drop-selection > div > p {
  line-height: 22.4px;
  font-size: 16px;
}

.expertise-drop-options {
  padding: 28px;
  background-color: #071033;
  background-color: rgba(7, 16, 51, 0.6);
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expertise-drop-options > p {
  color: white;
  line-height: 16.8px;
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.expertise-drop-options > p:hover {
  color: #e2b41a;
  transition: color 0.3s ease;
}

.expertise-drop-image {
  height: 378px;
  width: 200px;
  background: url("../res/image/expertise_drop_main.png");
  position: relative;
}

/* --------------------------------- DROP DOWN END -------------------------------------- */
