@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Graphik";
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

/* -------------------------------- UTILS -------------------------------- */
.cut-top-left {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%);
  top: 0;
  left: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-top-right {
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 0% 0%, 0% 0%);
  top: 0;
  right: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-bottom-left {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
  bottom: 0;
  left: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.cut-bottom-right {
  position: absolute;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 0%);
  bottom: 0;
  right: 0;
  background-color: var(--c);
  height: var(--l);
  width: var(--l);
  z-index: 100;
}

.white-next-button {
  display: flex;
  background-color: white;
  color: #41c7df;
  width: 282px;
  height: min-content;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  justify-content: space-between;
  padding: 16px;
}

.read-more {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: max-content;
  align-items: center;
}

.read-more > span {
  color: #41c7df;
  font-size: 0.875rem;
  line-height: 22.4px;
  font-weight: 600;
  font-family: "Switzer";
}

/* -------------------------------- UTILS END -------------------------------- */

/* ----------------------------- MAIN ------------------------------------- */

.main {
  background: url("../res/image/contact_us_master.png") no-repeat center center;
  background-size: cover;
}

.header {
  padding: 120px;
  padding-top: 32px;
  padding-bottom: 50px;
  background-color: #0b1621f2;
}

.header > div {
  display: flex;
  justify-content: space-between;
}

.header-data {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 24px;
  align-items: center;
}

.button_hollow {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 96px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.hamburger > div {
  width: 40px;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}

.hamburger.activate > div:nth-child(1) {
  transform: rotate(45deg) translateY(10px); /* Rotate first line */
}

.hamburger.activate > div:nth-child(2) {
  transform: rotate(-45deg) translateY(-10px); /* Rotate second line */
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  margin-top: 56px;
  color: #ffffff;
}

.menu > a > li {
  display: flex;
  align-items: center;
  width: 208px;
  justify-content: space-between;
  padding-top: 12px;
  color: white;
  border-top: 1.6px solid rgba(255, 255, 255, 0.4);
}

.menu > a > li.selected {
  border-top: 1.6px solid #e2b41a;
  color: #e2b41a;
}

/* .menu span {
    } */

.menu div {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

/* .main-body {
  padding-bottom: 210px;
} */

.main-body > div {
  padding-top: 106px;
  padding-bottom: 78px;
  padding-left: 120px;
  padding-right: 65px;
  color: white;
  height: 468px;
  background-color: rgba(81, 85, 101, 0.7);
  width: min-content;
}

.main-body > div > h1 {
  font-size: 70px;
  line-height: 98px;
  font-weight: 400;
  font-family: "Glaukon";
  color: #e2b41a;
  height: 86px;
}

.main-body > div > span {
  display: flex;
  width: 500px;
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 25.6px;
  margin-top: 16px;
  height: 177px;
  align-items: center;
}

.location-strip {
  padding: 16px 120px;
  background-color: #0b1621;
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-strip > .initial {
  color: white;
  font-size: 14px;
  line-height: 16.8px;
}

.location-strip > .destination {
  color: #e2b41a;
  font-size: 14px;
  line-height: 16.8px;
}

.social-media {
  right: 120px;
  position: absolute;
  height: 0px;
  width: 79px;
  background-color: white;
  transform: translateY(10px);
  transition: height 0.3s ease;
}

.social-media.activate {
  height: 360px;
  transition: height 0.3s ease;
}

.social-media > ul {
  padding: 31px 25px 28px 31px;
  list-style: none;
}

.social-media-links {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  width: 79px;
  margin-top: 30px;
}

.social-media-links > ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
}

.social-media-links > ul > li {
  display: flex;
  justify-content: center;
}

.social-media-links.activate {
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
}

.change-language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.hover-icon:hover path {
  fill: #e2b41a;
}


/* ---------------------- MAIN END ------------------------- */

/* ----------------------- STORY DIV ------------------------------- */

.story-div {
  padding-top: 95px;
  padding-bottom: 95px;
  padding-left: 120px;
  padding-right: 120px;
  background: url("../res/svg/logo/logo_background_white.svg") no-repeat center
    center;
  background-size: cover;
  background-color: #f0f1f5;
  text-align: justify;
}

.story-div > span {
  font-size: 22px;
  font-weight: 500;
  color: #071033;
}

.story-div > div {
  margin-top: 108px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 40px;
}

.story-div > div > div > h1 {
  font-family: "Glaukon";
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 22px;
  color: #071033;
}

.story-div > div > div > span {
  font-family: "GoogleSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  text-align: justify;
  width: 100%;
  color: #071033;
}

.mt-95 {
  margin-top: 95px;
}

.story-image {
  width: 100%;
  height: 425px;
  background: url("../res/image/contact_us_hello.png") no-repeat center center;
  background-size: cover;
  position: relative;
}
/* ----------------------- STORY DIV END ------------------------------- */

/* ------------------------- GET IN TOUCH ------------------------------- */
.get-in-touch {
  background-color: #f0f1f5;
  padding: 96px 120px 80px 120px;
}

.get-in-touch > .divider {
  background-color: #606c99;
  height: 1.6px;
}

.get-in-touch > p {
  margin-top: 28px;
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  color: #071033;
}

.contact-details {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
  list-style: none;
}

.contact-details > li {
  display: flex;
  flex: 1;
}

.contact-details > li > img {
  height: 24px;
}
.contact-details > li > div {
}

.contact-data {
  font-family: "GoogleSans";
  font-size: 16px;
  color: #4b5768;
  line-height: 20.35px;
}

.contact-data > span {
  color: #121a1f;
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 20.35px;
}

/* ------------------------- GET IN TOUCH END ------------------------------- */

/* ------------------------- MAKE IT HAPPEN --------------------------- */
.make-it-happen-div {
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 57% 43%;
}

.contact-form {
  padding: 104px 80px 66px 120px;
}

.contact-form > h1 {
  font-weight: 400;
  font-family: "Glaukon";
  font-size: 40px;
  line-height: 63.98px;
  color: #071033;
}

.contact-form > p {
  margin-top: 16px;
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 25.6px;
  color: #071033;
}

.name-address {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}

.name-address > div {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 296px;
}

.name-address > div > span {
  display: flex;
  flex-direction: column;
  font-family: "GoogleSans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #071033;
}

.name-address > div > input {
  border: 1px solid #eceef0;
  height: 56px;
  padding: 0 16px;
  font-size: 16px;
  color: #071033;
}

.subject {
  margin-top: 32px;
}

.subject > span {
  font-family: "GoogleSans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #071033;
}

.subject > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 26px;
}

.subject > div > div > input {
  margin-right: 8px;
  accent-color: #283646;
}

.subject > div > div > span {
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}

.message {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
}

.message > span {
  font-family: "GoogleSans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #071033;
}

.message > textarea {
  resize: none;
  width: 100%;
  margin-top: 18px;
  border: 1px solid #eceef0;
  height: 140px;
  padding: 16px;
  font-size: 16px;
  color: #071033;
}

.map {
  width: 100%;
  height: 100%;
}
/* ------------------------- MAKE IT HAPPEN END --------------------------- */

/* -------------------------------- FOOTER ------------------------------- */
.footer {
  background-color: #0b1621;
  padding: 146px 120px 40px 120px;
  position: relative;
}

.footer-body {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 112px;
}

.footer-email {
  display: flex;
  gap: 32px;
  width: max-content;
  justify-content: center;
}

.footer-email > input {
  background-color: #0b1621;
  border: none;
  border-bottom: #0f6aff solid 1px;
  width: 400px;
  color: white;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  align-self: flex-end;
  padding-bottom: 24px;
}

/* .footer-part-1 {
    display: flex;
    justify-content: space-between;
  } */

.footer-part-1-upper {
  margin-bottom: 200px;
}

.footer-part-1-upper > p {
  font-weight: 300;
  font-size: 32px;
  line-height: 38.4px;
  text-align: justify;
  color: white;
  margin-right: 280px;
  margin-top: 86px;
}

.footer-part-1 > span {
  font-family: "GoogleSans";
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.4);
}

.footer-part-2 {
  color: white;
}

.footer-part-2-upper {
  position: relative;
  height: 100%;
}

.footer-part-2-upper > a > img {
  height: 40px;
  width: 40px;
  bottom: 0;
  position: absolute;
}

.footer-part-2-upper > ul {
  list-style: none;
}

.footer-part-2-upper > ul > li {
  font-family: "Inter", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 35.2px;
}

.footer-part-2-upper > ul > li > a {
  color: white;
}

.footer-part-2-upper > div {
  margin-top: 100px;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.footer-part-2-upper > div > p {
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer-part-2-upper > div > ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

/* -------------------------------- FOOTER END ------------------------------- */

/* --------------------------------- DROP DOWN -------------------------------------- */
.drop-down {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 0;
}

.drop-down.active {
  opacity: 1;
  transition: opacity 0.3s ease;
  height: fit-content;
}

.expertise-drop-down {
  padding: 40px 120px;
  display: none;
  gap: 40px;
  opacity: 0;
  background-color: #515565;
  transition: opacity 0.3s ease;
}

.expertise-drop-down.active {
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
}

.expertise-drop-content > h1 {
  font-family: "Glaukon";
  font-size: 40px;
  line-height: 48px;
  color: #e2b41a;
  font-weight: 400;
}

.expertise-drop-content > p {
  font-family: "GoogleSans";
  font-size: 16px;
  line-height: 25.6px;
  text-align: justify;
  color: white;
  margin-top: 24px;
  width: 456px;
}

.expertise-drop-selection {
  padding: 28px;
  background-color: rgba(7, 16, 51, 0.4);
  width: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expertise-drop-selection > div {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.3s ease;
}

.expertise-drop-selection > div:hover {
  color: #e2b41a;
  transition: color 0.3s ease;
}

.expertise-drop-selection > div > p {
  line-height: 22.4px;
  font-size: 16px;
}

.expertise-drop-options {
  padding: 28px;
  background-color: #071033;
  background-color: rgba(7, 16, 51, 0.6);
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expertise-drop-options > p {
  color: white;
  line-height: 16.8px;
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.expertise-drop-options > p:hover {
  color: #e2b41a;
  transition: color 0.3s ease;
}

.expertise-drop-image {
  height: 378px;
  width: 200px;
  background: url("../res/image/expertise_drop_main.png");
  position: relative;
}

/* --------------------------------- DROP DOWN END -------------------------------------- */
