* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: Graphik;
  scroll-behavior: smooth;
}

section {
  padding: 80px 240px;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  outline: none;
}

a:focus,
a:active {
  outline: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 1200px) {
  section {
    padding: 90px;
    width: calc(100% - 180px);
  }
}

@media only screen and (max-width: 767px) {
  section {
    padding: 45px;
    width: calc(100% - 90px);
  }
}

@media only screen and (max-width: 480px) {
}
/* -------------------------- UTILS ----------------------------- */

.main-button {
  padding: 8px 13px;
  width: 124px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-weight: 500;
  line-height: 40px;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #e2b41a !important;
  transition: all 0.3s ease;
}

.main-button.yellow {
  background-color: #e2b41a;
  color: #383838;
}

.main-button.blue {
  background-color: #41c7df;
  color: #383838;
}

.main-button.grey {
  background-color: #383838;
  color: #ebebeb;
}

.circular-plus {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: #0b1621 solid 1.2px;
}

.circular-plus.expanded {
  border: #597294 solid 1.2px;
}

.circular-plus > .plus {
  position: relative;
  width: 8px;
  height: 8px;
}

.circular-plus > .plus::before,
.circular-plus > .plus::after {
  content: "";
  position: absolute;
  background-color: #0b1621; /* Color of the + sign */
}

.circular-plus.expanded > .plus::before,
.circular-plus.expanded > .plus::after {
  background-color: #597294; /* Color of the + sign */
}

.circular-plus > .plus::before {
  width: 8px;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.circular-plus > .plus::after {
  width: 2px;
  height: 8px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
}

.circular-plus.expanded .plus::after {
  transform: translateX(-50%) rotate(90deg);
  transition: transform 0.3s ease;
}

/* -------------------- HEADER ----------------------------- */
.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: calc(100% - 480px);
  z-index: 7;
  justify-content: center;
  align-items: center;
}

.main-logo {
  cursor: pointer;;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1150px;
}

.header-hover-container {
  background-color: rgba(89, 114, 148, 1);
  width: calc(100% + 480px);
  margin-left: -240px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.header-hover-description {
  width: 31vw;
  max-width: 356px;
  color: white;
}

.header-hover-description > h1 {
  font-family: Glaukon;
  height: 50px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.header-hover-description > p {
  margin-top: 16px;
  font-family: GoogleSans;
  text-align: left;
  font-size: 14px;
  line-height: 22.4px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.header-hover-navigation {
  width: 79vw;
  max-width: 793px;
}

.header-container > ul {
  display: flex;
  gap: 15px;
}

.header-container > ul .selected {
  color: #41c7df;
  font-weight: 600;
  margin-right: 2px;
}

.header-container > ul span {
  font-family: Graphik;
  font-weight: 400;
  text-align: center;
}

.header-container ul > li > a > div {
  padding: 10px;
}

.header-container .navigations > li:hover a {
  color: #41c7df !important;
}

.header-container ul > li > a:focus {
}

@media only screen and (max-width: 1200px) {
  .header {
    padding: 20px 90px;
    width: calc(100% - 180px);
  }
}

@media only screen and (max-width: 1024px) {
  .header-container .navigations,
  .header-container .main-button {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 20px 45px;
    width: calc(100% - 90px);
  }
}
/* ----------------- MAIN ----------------- */
.main {
  padding: 0 0;
  width: 100%;
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slider .carousel-cell {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-body {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 240px;
}

.main-body h1 {
  font-family: Felis;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  line-height: 2.5rem;
}

.main-body span {
  font-family: GoogleSans;
  font-size: 0.875rem;
  line-height: 22.4px;
  color: white;
  width: 60%;
  font-weight: 400;
}

.main-body > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-body .main-button {
  margin-top: 32px;
}

@media only screen and (min-width: 1500px) {
  .main-body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1150px;
  }
}

@media only screen and (max-width: 1200px) {
  .main-body {
    margin-left: 90px;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
  .main-body {
    margin-left: 45px;
  }
}
/* -------------------------- DESCRIPTIION -------------------------------- */

.description {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.description > h1 {
  font-family: Felis;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  width: 35%;
  color: #383838;
}

.description > p {
  width: calc(100% - 480px);
  text-align: justify;
  font-family: GoogleSans;
  font-size: 1rem;
  line-height: 25.6px;
  font-weight: 400;
}

@media only screen and (max-width: 1200px) {
  .description > p {
    width: 100%;
  }

  .description > h1 {
    width: 50%;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
  .description > h1 {
    width: 80%;
  }
}

/* ---------------------------------------- HUMBERGER ------------------------------------------- */

.burger-svg {
  height: 80px;
  position: absolute;
  width: 80px;
}

.plates {
  position: fixed;
  z-index: 110;
  display: none;
  flex-wrap: wrap;
  max-height: 160px;
  width: fit-content;
  right: 120px;
  top: 20px;
}

.plate {
  height: 80px;
  width: 80px;
}

.x {
  transform: scale(0);
  transition: transform 400ms;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}

.x .line {
  stroke-width: 5.5px;
}

.plate1 .line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}

.plate1 .line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}

.active .line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}

.active .x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}

@media only screen and (max-width: 1024px) {
  .plates {
    display: flex;
  }
}

@media only screen and (max-width: 767px) {
  .plates {
    right: 45px;
  }
}

.menu-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 180px);
  background-color: rgba(80, 90, 128, 1);
  z-index: 8;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-navigations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
}

.menu-navigations .selected {
  color: rgba(65, 199, 223, 1);
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .menu-screen {
    width: calc(100% - 45px);
  }
}

 

.current-path {
  background-color: rgba(11, 22, 33, 1);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 16px 240px;
  display: flex;
  justify-content: start;
}

.current-path-container {
  display: flex;
  max-width: 1150px;
  gap: 10px;
  width: 100%;
}

.previous-path-text {
  color: white;
  width: max-content;
  text-wrap: nowrap;
}

.current-path-text {
  color: rgba(226, 180, 26, 1);
}

.previous-path-arrow {
  color: white;
}

@media only screen and (max-width: 1200px) {
  .current-path {
    padding-left: 90px;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
  .current-path {
    padding-left: 45px;
  }
}

/* ------------------------------- EVENT DATA ------------------------------------------ */

.event-datas {
  background-color: white;
  width: calc(100% - 480px);
  display: flex;
  padding-top: 0;
  flex-direction: column;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  row-gap: 100px;
  max-width: 1150px;
  place-self: center;
  width: 100%;
}

.event {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 43vw;
  overflow: hidden;
}

.event-overlay {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #030303 100%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  padding: 35px;
  font-family: GoogleSans;
  transform: translateY(100%);
}

.event-overlay > h1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.event-overlay > p {
  font-weight: 400px;
  font-size: 14px;
  margin-bottom: 30px;
}

.event-overlay > a {
  font-weight: 500;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .event-datas {
    width: calc(100% - 180px);
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
  .event-datas {
    width: calc(100% - 90px);
  }
}

@media only screen and (max-width: 520px) {
  .events-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .event {
    height: 50vh;
  }
}

/* --------------------------------------- CONTACTS --------------------------------- */

.contact {
  background-color: #597294;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: flex;
  align-items: center;
}

.contact-image-container {
  background: url("../res/image/home_contact.jpeg") no-repeat center center;
  background-size: cover;
  width: 62%;
  height: 75vh;
}

.contact-data-container {
  position: absolute;
  right: 9%;
  left: 47%;
  background-color: #383838;
  padding: 70px 60px;
}

.contact-data-container > h1 {
  color: white;
  font-family: Felis;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 90px;
  width: 480px;
}

@media only screen and (max-width: 1200px) {
  .contact {
    width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .contact-data-container {
    left: 30%;
  }
}

@media only screen and (max-width: 767px) {
  .contact-image-container {
    display: none;
  }

  .contact-data-container {
    position: relative;
    right: 0;
    left: 0;
    width: inherit;
    height: inherit;
    top: 0;
    bottom: 0;
    padding: 70px 45px;
  }

  .contact {
    padding: 0;
  }
}

@media only screen and (max-width: 520px) {
  .contact-data-container > h1 {
    margin-bottom: 45px;
  }
}

/* --------------------------- FOOTER ------------------------- */

.footer {
  background-color: #0b1621;
  width: calc(100% - 480px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 15px;
  max-width: 1150px;
}

.footer-email {
  display: flex;
  height: fit-content;
  gap: 25px;
  align-items: end;
}

.footer-email > input {
  border: none;
  border-bottom: 1px solid #0f6aff;
  background-color: transparent;
  width: 100%;
  height: fit-content;
  padding: 24px 0;
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
}

.footer-email > input:focus {
  outline: none;
}

.footer-left > p {
  font-family: GoogleSans;
  font-size: 1rem;
  line-height: 19.2px;
  color: white;
  margin-top: 114px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: white;
  font-family: GoogleSans;
}

.footer-navs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 92px;
}

.footer-navs {
  text-align: right;
}

.footer-contacts {
  text-align: right;
}

.footer-divider {
  border: 0.2px solid #0040a9;
  margin: 0 -1150px;
}

.footer-extend {
  margin-top: 27px;
  max-width: 1150px;
}

.footer-extend {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer-extend-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.footer-extend-right > a {
  width: fit-content;
}

.footer-extend-left > p {
  color: rgba(255, 255, 255, 0.4);
}

.footer-socials {
  display: flex;
  gap: 16px;
  margin-bottom: 74px;
}

@media only screen and (max-width: 1200px) {
  .footer {
    width: calc(100% - 180px);
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 90px);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-left > p {
    margin-top: 24px;
  }

  .footer-navs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 48px;
    margin-bottom: 48px;
    justify-content: space-between;
    width: 100%;
    text-align: left;
  }

  .footer-contacts {
    text-align: left;
    width: 100%;
    align-items: start;
  }

  .footer-right {
    align-items: start;
    justify-content: left;
  }
}



/* ------------------------------ DROP DOWN ------------------------------------- */

.drop-down {
  width: 100%;
  background-color: rgba(89, 114, 148, 1);
  height: 0;
  position: absolute;
  top: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.drop-down.active {
  height: 65vh;
  max-height: 580px;
  transition: all 1s ease-in-out;
}

/* .drop-down {
  position: fixed;
  background-color: rgba(89, 114, 148, 1);
  width: calc(100% - 480px);
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(calc(-150%));
} */

.drop-down-wrapper {
  display: flex;
  justify-content: center;
  max-width: 1150px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.drop-down-description {
  width: 31%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drop-down-description > h1 {
  font-family: Glaukon;
  font-size: 40px;
  font-weight: 400;
  height: 50px;
}

.drop-down-description > p {
  margin-top: 16px;
  font-family: GoogleSans;
  font-size: 14px;
  line-height: 22.4px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.drop-down-navigations {
  width: 69%;
  display: flex;
}

.drop-down-navigation-items {
  background-color: rgba(61, 81, 108, 1);
  width: 220px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

.drop-down-navigation-items::-webkit-scrollbar {
  display: none;
}

.empty-div {
  /* height: 100%; */
  width: 100%;
}

.nav-items li:hover > a {
  color: rgba(226, 180, 26, 1);
}

.a-line {
  width: 0;
  height: 0.5px;
  background-color: rgba(226, 180, 26, 1);
  transition: width 0.3s ease-in-out;
}

.nav-items li:hover > .a-line {
  width: 100%;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-items > li {
  padding: 10px 0;
}

.nav-items > li {
  padding-right: 20px;
  padding-left: 20px;
  display: block;
}

.drop-down-navigation-description {
  width: 76%;
  background-color: rgba(39, 60, 89, 1);
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.drop-down-navigation-description > img {
  width: 100%;
  height: 46%;
}

.drop-down-navigation-description > h1 {
  color: white;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 20px;
}

.drop-down-navigation-description > p {
  color: rgba(89, 114, 148, 1);
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 16px;
}

.drop-down-navigation-description > a {
  font-size: 12px;
  font-weight: 500;
}

.drop-down-navigation-description.multiple {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 0;
  background-color: rgba(39, 60, 89, 1);
  /* display: flex;
  flex-direction: row; */
}

.second-option {
  background-color: rgba(51, 68, 91, 1);
  width: 100%;
  height: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
}

.drop-down-navigation-description.small > img {
  height: 30%;
}

.drop-down-navigation-description.small {
  width: auto;
}

/* .multiple-option {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
} */

 

.drop-down-navigation-description.multiple {
  display: none;
}

.drop-down-navigation-description {
  display: none;
}

.drop-down-navigation-description.empty-div {
  display: flex;
}

.drop-down-navigation-description.hospitality_busineses-description,
.drop-down-navigation-description.restaurant-description {
  display: none;
}

.empty-div.multiple {
  display: grid;
}

/* ------------------------------------ REMOVABLE  ----------------------------------------- */

.removable {
  position: fixed;
  background-color: black;
  color: white;
  left: 0;
  right: 0;
  width: fit-content;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 50px;
  display: none;
}
