@font-face {
  font-family: "Glaukon";
  src: url("./GlaukonRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glaukon";
  src: url("./GlaukonItalic.otf");
  font-weight: normal;
  font-style: italic;
}
