@font-face {
  font-family: "GoogleSans";
  src: url("./ProductSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSans";
  src: url("./ProductSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
