@font-face {
  font-family: "Graphik";
  src: url("./GraphikRegular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikRegularItalic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikMedium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("./GraphikLight.otf");
  font-weight: 300;
  font-style: normal;
}