@font-face {
  font-family: "Felis";
  src: url("./Felis-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Felis";
  src: url("./Felis-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Felis";
  src: url("./Felis-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Felis";
  src: url("./Felis-Black.ttf");
  font-weight: 800;
  font-style: normal;
}
