@font-face {
  font-family: "Switzer";
  src: url("./Switzer-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("./Switzer-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("./Switzer-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}
